body {
  background-color:#f279ae;
  font-family:Arial,sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.container {
  background:white;
  padding:10px;
  border-radius:30px;
  width:400px;
  text-align:center;
  box-shadow:0 0 10px gray;
}

textarea {
  width:90%;
  height:120px;
  font-size:1rem;
  padding:10px;
  margin-bottom:10px;
  resize:none;
}

.counter {
  color:red;
  font-weight:bold;
  font-size:1.5rem;
}
h2{
  color:#d879f2;
}
